name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}] 
  workflow_dispatch: 
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: HiranGeeth
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Colombo 
          plugin_languages: yes
          plugin_languages_limit: 20             
          plugin_languages_details: percentage, bytes-size
          plugin_languages_sections: most-used
          plugin_languages_indepth: yes           
          commits_authoring: HiranGeeth           
          plugin_languages_recent_days: 365      
          plugin_languages_threshold: 0%          
          
